<%- include('../partials/header') %>
  <body>
    <%- include('../partials/nav-bar') %>
    <div class="bgi">
    <div class = all-meeting><table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>Delete</th>
        <th>Edit</th>
        <th>Contact</th>
        <th>Event</th>
        <th>Date-Time</th>
        <th>Location</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% meetings.forEach(function(m) { %>
      <tr>
        
        <td><form
          action="/meetings/<%= m.id %>?_method=DELETE"
          class="delete-form"
          method="POST">
          
          <input id="removeBtn" class="btn btn-danger" type="submit" value="Delete">
        </form></td>
        <td><a class="btn btn-primary" href="/meetings/<%= m._id %>/edit" role="button">Edit</a></td>
        <td><%= m.contact %></td>
        <td><%= m.event %></td>
        <td><%= m.date %></td>
        <td><%= m.location %></td>
        <td><a class="btn btn-primary" href="/meetings/<%= m._id %>/notes" role="button">Notes</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table></div>
    </div>
    </div>
  

  

<%- include('../partials/footer.ejs') %>
