<%- include('../partials/header') %>
<body>
  <%- include('../partials/nav-bar') %>
  <div class="bgi">
    <div id="column">
      <section id="show-notes">
        <% if (meeting.notes.length) { %>

        <table class="table">
          <thead>
            <th scope="col">Note:</th>
          </thead>

          <% meeting.notes.forEach(function(n) {%>
          <tr>
            <td id="note-text"><%=n.text%></td>
          </tr>
          <% }); %>
        </table>
        <% } %>
        <section id="add-note">
          <form
            action="/meetings/<%= meeting._id %>/notes"
            method="POST"
            id="add-notes-form"
          >
            <h3>ADD NOTES</h3>
            <input type="text" name="text" class="form-control" />
            <br />
            <input
              type="submit"
              class="btn btn-primary"
              id="note-btn"
              value="Add Note"
            />
          </form>
        </section>
      </section>
    </div>
  </div>
</body>
<%- include('../partials/footer') %>
